/* IMPOSTAZIONI GENERALI */

body {
    background-image: url("assets/img/sfondo") ;
}

/* HEADER */

header {
    background-color: aqua;
    width: 85vw;
    margin: 0px auto;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
